<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339984553246-31gjhttiif10q63kf4ki7i6n20kag1ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339984553246-31gjhttiif10q63kf4ki7i6n20kag1ek</string>
	<key>API_KEY</key>
	<string>AIzaSyC-PZrX_iaAkt5CkkfR9GRIg9mnbLwUlN0</string>
	<key>GCM_SENDER_ID</key>
	<string>339984553246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.elitelife</string>
	<key>PROJECT_ID</key>
	<string>elitelife</string>
	<key>STORAGE_BUCKET</key>
	<string>elitelife.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339984553246:ios:05b5b25b6a755ed0f9a50f</string>
</dict>
</plist>